//COLORS
$basicWhiteColor: #FFFF;
$buttonGreenColor: #54E6AF;
$buttonHoverGreenColor: #B3FFE2;
$headerTextColor: #54E6AF;
$paragraphTextColor: #C2CBE5;
$buttonTextColor: #121725;
$inputBackgroundColor: #2C344B;
$mediaImagesColor: #5A668A;


