* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  background-image: url("../images/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #121725;
  color: #FFFF;
  overflow-x: hidden;
}

@media (min-width: 375px) {
  body .opacity {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgba(90, 102, 138, 0.3);
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/tablet/image-host.jpg");
    background-blend-mode: normal;
    background-size: 64%;
    background-position: right top;
  }
  body .opacity {
    background: none;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url("../images/desktop/image-host.jpg");
    background-position: right 130px;
  }
  body .opacity {
    background: none;
  }
}

.container {
  position: relative;
  width: 82%;
  margin-left: 24px;
  padding-top: 88px;
}

@media (min-width: 768px) {
  .container {
    margin: auto 40px;
    margin-top: 140px;
    margin-left: 20px;
    width: 83%;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-left: -388px;
    margin-top: 142px;
    width: 86%;
  }
}

@media (min-width: 1880px) {
  .container {
    margin-left: -340px;
    margin-top: 358px;
    width: 80%;
  }
}

.header-container img {
  margin: -24px 0px 0px 92px;
  display: block;
}

@media (min-width: 375px) {
  .header-container img {
    opacity: 92%;
  }
}

@media (min-width: 768px) {
  .header-container img {
    margin-left: 14px;
    margin-top: -182px;
    width: 134.85px;
    height: 56px;
  }
}

@media (min-width: 1440px) {
  .header-container img {
    margin-left: 41%;
    margin-top: -11%;
  }
}

@media (min-width: 1880px) {
  .header-container img {
    margin-left: 40.5%;
    margin-top: -23.5%;
  }
}

main {
  position: absolute;
  top: 174px;
  right: -16px;
}

@media (min-width: 768px) {
  main {
    width: 100%;
    top: 120px;
    background-color: #121725;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  main {
    width: 60%;
  }
}

@media (min-width: 1880px) {
  main {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 94px;
  }
}

h1 {
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  color: #54E6AF;
  opacity: 90%;
}

h1 span {
  color: #FFFF;
}

@media (min-width: 768px) {
  h1 {
    text-align: left;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    opacity: 90%;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 52px;
    line-height: 62px;
    width: 675px;
  }
}

p {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  color: #C2CBE5;
  text-align: center;
  opacity: 80%;
}

@media (min-width: 768px) {
  p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    width: 445px;
    padding-top: 12px;
    padding-bottom: 2px;
  }
}

.networks {
  width: 98%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  opacity: 50%;
}

@media (min-width: 768px) {
  .networks {
    width: 85%;
    margin-left: 0;
    margin-top: 4px;
  }
}

@media (min-width: 1440px) {
  .networks {
    width: 536px;
    margin-top: -8px;
  }
}

.spotify-list {
  width: 56px;
}

@media (min-width: 768px) {
  .spotify-list {
    width: 96px;
    height: 29px;
  }
}

.apple-list {
  width: 45px;
}

@media (min-width: 768px) {
  .apple-list {
    width: 78px;
    height: 29px;
  }
}

.google-list {
  width: 73px;
}

@media (min-width: 768px) {
  .google-list {
    width: 125px;
    height: 18px;
  }
}

.pocket-list {
  width: 77px;
}

@media (min-width: 768px) {
  .pocket-list {
    width: 129px;
    height: 26px;
  }
}

form {
  margin-top: 48px;
  position: relative;
}

@media (min-width: 768px) {
  form {
    width: 68%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2/1;
  }
}

input[type="submit"], label {
  display: block;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 64px;
  background-color: #54E6AF;
  border: none;
  border-radius: 30px;
  line-height: 28px;
  font-size: 14px;
  color: #121725;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #B3FFE2;
}

@media (min-width: 768px) {
  input[type="submit"] {
    position: absolute;
    top: 5px;
    width: 38.5%;
    right: 5px;
    font-weight: bold;
  }
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #B3FFE2;
  }
}

@media (min-width: 1440px) {
  input[type="submit"] {
    position: absolute;
    width: 34%;
    right: 12.5%;
  }
}

@media (min-width: 1880px) {
  input[type="submit"] {
    position: absolute;
    width: 34%;
    right: 12.5%;
  }
}

input.submitInfo {
  width: 100%;
  background-color: #2C344B;
  padding: 10px;
  padding-left: 30px;
  border: none;
  border-radius: 30px;
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  input.submitInfo {
    position: absolute;
    padding: 15px;
    margin-bottom: 0;
    padding-left: 36px;
    color: #FFFF;
  }
}

@media (min-width: 1440px) {
  input.submitInfo {
    width: 88.5%;
  }
}

span.errorMessage {
  width: 100%;
  height: 10px;
  font-size: 10px;
  display: none;
  position: relative;
  top: -22px;
  left: 21px;
  color: #FB3E3E;
}

@media (min-width: 768px) {
  span.errorMessage {
    top: 62px;
    width: 100%;
    height: 14px;
    font-size: 14px;
  }
}

span.showErrorMessage {
  display: block;
}

footer {
  display: none;
}

@media (min-width: 768px) {
  footer {
    display: block;
    position: absolute;
    width: 232px;
    top: 780px;
  }
}

@media (min-width: 1440px) {
  footer {
    left: auto;
    right: -586px;
    width: 232px;
    top: 600px;
  }
}

@media (min-width: 1880px) {
  footer {
    left: auto;
    right: -49.5%;
    top: 678%;
  }
}

footer img {
  width: 100%;
  display: block;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */