@import "variables";

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: $mainFontFamily;
  background-image: url("../images/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: $backgroundColor;
  color: $basicWhiteColor;
  overflow-x: hidden;
}

.container {
  position: $parentPosition;
  width: 82%;
  margin-left: 30px;
  padding-top: 94px;
}

.header-container img {
  margin: -24px 0px 0px 92px;
  display: $displayBlock;
}

main {
  position: $childPosition;
  top: 188px;
  right: -16px;
}

h1 {
  font-weight: $fontWeight;
  font-size: $headerMobileFontSize;
  line-height: $headerMobileLineHeight;
  text-align: $textAlignCenter;
  font-style: $fontStyle;
  text-transform: uppercase;
  color: $headerTextColor;
    span {
      color: $basicWhiteColor;
      }
    }
p {
  margin-top: 16px;
  font-size: $paragraphMobileFontSize;
  font-weight: $fontWeight;
  font-style: $fontStyle;
  line-height: $paragraphMobileLineHeight;
  color: $paragraphTextColor;
  text-align: $textAlignCenter;
}
  
.networks {
    width: 98%;
    height: 100%;
    display: $flex;
    margin: 30px auto 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.spotify-list {
    width: 56px;
}
.apple-list {
    width: 45px;
}
.google-list {
    width: 73px;
}
.pocket-list {
    width: 77px;
}
  
form {
    margin-top: 48px;
    position: $parentPosition;
}

input[type="submit"], label {
    display: $displayBlock;
  }

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: $buttonGreenColor;
    border: $borderNone;
    border-radius: $borderRadius;
    line-height: $buttonMobileTextLineHeight;
    font-size: $buttonMobileTextSize;
    color: $buttonTextColor;
    font-style: $fontStyle;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: $buttonHoverGreenColor;
    }
  }
input.submitInfo {
    width: 100%;
    background-color: $inputBackgroundColor;
    padding: 10px;
    padding-left: 30px;
    border: $borderNone;
    border-radius: $borderRadius;
    line-height: $buttonMobileTextLineHeight;
    font-size: $buttonMobileTextSize;
    margin-bottom: 24px;
  }
span.errorMessage {
    width: 175px;
    height: 14px;
    display: $displayNone;
    position: $parentPosition;
    top: -10px;
    left: 21px;
    color: $errorMessageColor;
  }
span.showErrorMessage {
    display: $displayBlock;
  }
footer {
  display: none;
}


